<div class="row">
  <div class="col-xs-12">
    <button
      class="btn btn-success"
      (click)="arr.push(1 + arr[arr.length-1] || 1)"
    >New Recipe</button>
    <button class="btn btn-danger" (click)="arr.splice(-1, 1)">Delete Last</button>
  </div>
  <hr>
  <a
    class="list-group-item"
    *ngFor="let item of arr; let i = index"
    (click)="arr.splice(i, 1)">
    item no. {{ item }} :: {{ i }}
  </a>
</div>

<hr>

<div class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <p class="list-group-item-text">{{ recipe.description }}</p>
      </div>
      <span class="pull-right ">
        <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 50px;">
      </span>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
